---
import { Card } from '@components/ui';
import { FEATURES_LIST } from '@constants';
import { Icon } from 'astro-icon/components';
---

<section class="bg-muted/30 py-20">
  <div class="container mx-auto px-4">
    <header class="mb-16 text-center">
      <h2 class="text-on-background mb-4 text-3xl font-bold lg:text-4xl">¿Por qué elegir Kodal?</h2>
      <p class="text-on-muted mx-auto max-w-2xl text-xl">Tecnología avanzada diseñada específicamente para la seguridad de tu mascota</p>
    </header>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        FEATURES_LIST.map(({ title, description, icon }) => (
          <Card>
            <header>
              <span class="bg-primary/10 mx-auto mb-4 flex size-12 items-center justify-center rounded-full">
                <Icon name={icon} class="text-primary size-6" />
              </span>
              <h2 class="text-center">{title}</h2>
            </header>

            <article class="text-center">
              <p class="text-on-muted">{description}</p>
            </article>
          </Card>
        ))
      }
    </div>
  </div>
</section>
