@import "tailwindcss";
@import 'tailwind-animations';

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.35 0 0);

  --color-card: oklch(0.98 0.02 85);
  --color-card-foreground: oklch(0.35 0 0);

  --color-primary: oklch(0.65 0.18 45);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.7 0.15 35);
  --color-secondary-foreground: oklch(1 0 0);
  --color-accent: oklch(0.7 0.15 35);
  --color-accent-foreground: oklch(1 0 0);
  --color-destructive: oklch(97.1% 0.013 17.38);
  --color-destructive-foreground: oklch(44.4% 0.177 26.899);
  --color-muted: oklch(0.96 0.01 85);
  --color-muted-foreground: oklch(0.45 0 0);

  --color-ring: oklch(0.65 0.18 45);
  --color-border: oklch(0.9 0.01 85);
  /* --color-input:  */
}
