@import 'tailwindcss';

@theme {
  --color-background: oklch(1 0 0);
  --color-on-background: oklch(0.35 0 0);

  --color-primary: oklch(0.65 0.18 45);
  --color-on-primary: oklch(1 0 0);
  --color-secondary: oklch(0.7 0.15 35);
  --color-on-secondary: oklch(1 0 0);

  --color-muted: oklch(0.96 0.01 85);
  --color-on-muted: oklch(0.45 0 0);
  --color-card: oklch(0.98 0.02 85);
  --color-on-card: oklch(0.35 0 0);

  --color-accent: oklch(0.7 0.15 35);
  --color-on-accent: oklch(1 0 0);

  --color-ring: oklch(0.65 0.18 45);
  --color-border: oklch(0.9 0.01 85);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-on-background flex min-h-dvh flex-col;
  }

  input,
  select,
  textarea {
    @apply cursor-pointer rounded-lg border bg-black/5 p-1 text-sm leading-8;
    @apply focus:ring-ring focus:ring-2 focus:outline-none;

    &[type='file'] {
      @apply file:bg-primary/10 file:text-primary hover:file:bg-primary/20 hover:file:text-primary/90 file:mr-4 file:cursor-pointer file:rounded-lg file:px-4 file:py-2 file:text-sm;
    }
  }

  select {
    @apply h-full;
  }
}

@layer components {
  table {
    @apply w-full caption-bottom text-sm;

    & thead {
      @apply [&_tr]:border-b;
      & th {
        @apply text-on-background h-10 px-2 text-left align-middle font-medium whitespace-nowrap;
      }
    }

    & tbody {
      @apply [&_tr:last-child]:border-0;
      & tr {
        @apply hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors;
        & td {
          @apply p-2 align-middle font-medium whitespace-nowrap;
        }
      }
    }
  }

  .card {
    @apply bg-card text-on-card flex flex-col gap-6 rounded-xl border py-6 shadow-sm;
    /* @apply bg-card text-on-card rounded-xl border shadow-lg; */
    & .card-content {
      @apply p-0;
      /* @apply flex flex-col gap-6 p-6; */
    }
  }

  .btn {
    @apply hover:bg-accent hover:text-on-accent;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply cursor-pointer gap-1 rounded-md px-3 text-sm transition-all;
    @apply inline-flex items-center justify-center;

    &.btn-outline {
      @apply bg-background text-on-background border;
    }

    &.btn-filled {
      @apply bg-primary text-on-primary;
    }

    &.btn-sm {
      @apply h-6 text-xs;
    }
    &.btn-md {
      @apply h-8 px-2;
    }
    &.btn-lg {
      @apply h-10 gap-2 px-4;
    }
  }

  .badge {
    @apply flex w-fit shrink-0 items-center justify-center gap-1 border;
    @apply rounded-md border px-2 py-0.5 text-xs font-medium whitespace-nowrap;
    @apply overflow-hidden transition-colors [&>svg]:pointer-events-none [&>svg]:size-3;
    @apply bg-primary/10 text-primary border-primary/20 [a&]:hover:bg-primary/90;
  }
}
