---
import { BasicForm } from '@components/forms';
import { Button } from '@components/ui';
import Layout from '@layout';
import { MedalSchema } from '@types';
import { Icon } from 'astro-icon/components';
import { and, db, eq, gt, isNull, Medal, Slot, Token } from 'astro:db';

if (!Astro.params.id) return Astro.redirect('/404');

const medal = await db.select().from(Medal).where(eq(Medal.id, Astro.params.id)).get();
const slot = await db.select().from(Slot).where(eq(Slot.id, Astro.params.id)).get();
const token = await db
  .select()
  .from(Token)
  .where(
    and(
      eq(Token.medal_id, Astro.params.id),
      eq(Token.id, `${Astro.url.searchParams.get('token')}`),
      isNull(Token.used_at),
      gt(Token.expires_at, new Date()),
    ),
  )
  .get();

console.log({ medal, slot, token });
if (medal && !token) return Astro.redirect(`/medal/${medal.id}`);
if (!medal && !slot) return Astro.redirect('/404');

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const entries = formData.entries().map(([key, val]) => [key, val || undefined]);
    const data = MedalSchema.parse(Object.fromEntries(entries));

    if (token) {
      await db.update(Token).set({ used_at: new Date() }).where(eq(Token.id, token.id)).run();
    }
    if (!slot?.used_at) {
      await db
        .insert(Medal)
        .values({
          id: Astro.params.id,
          ...data,
          created_at: new Date(),
          updated_at: new Date(),
        })
        .run();
      await db.update(Slot).set({ used_at: new Date() }).where(eq(Slot.id, Astro.params.id)).run();
    } else {
      await db
        .update(Medal)
        .set({
          ...data,
          updated_at: new Date(),
        })
        .where(eq(Medal.id, Astro.params.id))
        .run();
    }

    return Astro.redirect(`/medal/${Astro.params.id}`);
  } catch (error) {
    console.error(error);
  }
}
---

<Layout container>
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">
      {
        slot?.used_at ? (
          <>
            Editar información de <span class="text-primary">{medal?.name}</span>
          </>
        ) : (
          <>Crear información de tu mascota</>
        )
      }
    </h1>
    <p class="text-on-muted">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <form method="POST" class="flex flex-col gap-6">
    <BasicForm medal={medal as typeof Medal.$inferSelect} />

    <div class="flex gap-4">
      <Button size="lg" type="submit" class="flex-1">
        <Icon name="lucide:save" />
        {slot?.used_at ? 'Guardar' : 'Crear'}
      </Button>

      {
        slot?.used_at && (
          <a href={`/medal/${medal?.id}`} class="flex flex-1">
            <Button variant="outline" size="lg" class="flex-1" type="button">
              Cancelar
            </Button>
          </a>
        )
      }
    </div>
  </form>
</Layout>
