---
import { Card } from '@components/ui/card';
import type { Database } from '@lib/database';
import { Icon } from 'astro-icon/components';
import { MEDAL_RELATIONS } from '@constants';

interface Props {
  medal: Database['public']['Tables']['medals']['Row'];
}
const { medal } = Astro.props;
const DETAILS = [
  {
    label: 'Su Teléfono es:',
    value: medal.phone,
    display: medal.phone,
    icon: 'lucide:phone',
  },
  {
    label: 'Su correo electrónico es:',
    value: medal.email,
    display: medal.email,
    icon: 'lucide:mail',
  },
  {
    label: 'Su dirección es:',
    value: medal.address,
    display: medal.address,
    icon: 'lucide:map-pin',
  },
].filter(({ value }) => value);
---

<Card>
  <header class="grid grid-cols-[auto_1fr] items-center gap-x-2">
    <Icon name="lucide:user" class="text-primary row-span-2 size-8" />

    <h2 class="text-xl font-bold">Información de contacto</h2>
    <h3 class="text-lg">
      Mi
      <span class="lowercase">
        {medal.relation_type ? MEDAL_RELATIONS[medal.relation_type] : 'contacto'}
      </span>
      es
      <span class="text-primary">{medal.full_name}</span>.
    </h3>
  </header>

  <article class="space-y-4">
    {
      DETAILS.map(({ label, display, icon }) => (
        <dl class="bg-muted/30 grid grid-cols-[auto_1fr] grid-rows-2 items-center gap-x-2 rounded-lg p-4">
          <span class="bg-primary/10 row-span-2 flex size-10 items-center justify-center rounded-full">
            <Icon name={icon} class="text-primary size-5" />
          </span>

          <dt class="font-medium">{label}</dt>
          <dd class="text-primary">{display}</dd>
        </dl>
      ))
    }
  </article>
</Card>
