---
import styles from '@styles/global.css?url';
import { Footer, Header } from '@components';
import { Hero } from '@components/landing';
---

<!doctype html>
<html lang="es">
  <head>
    <title>Kodal</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href={styles} as="style" />
    <link rel="stylesheet" href={styles} />
  </head>
  <body>
    <Header />

    <main>
      <Hero />
    </main>

    <Footer />
  </body>
</html>
