---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/starwind/card";
import { POLICY_OF_PRIVACY } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
export const prerender = true;
---
<Layout container>
  <header class="mb-8 text-center">
    <Icon name="lucide:shield" class="size-16 text-primary mx-auto mb-4"/>
    <h1 class="text-3xl font-bold text-foreground mb-2">Política de Privacidad</h1>
    <p class="text-muted-foreground">Última actualización: Febrero 2026</p>
  </header>

  <section class="space-y-6">
    {POLICY_OF_PRIVACY.map(({ content, title, items}, index) => (
      <Card class="gap-2">
        <CardHeader>
          <CardTitle>{index + 1}. {title}</CardTitle>
        </CardHeader>
        <CardContent class="space-y-2">
          <p class="text-muted-foreground" set:html={content}/>
          {items && (
            <ul class="list-disc list-inside space-y-2 text-muted-foreground ml-1">
              {items.map((item) => (
                <li class="mb-0">{item}</li>
              ))}
            </ul>
          )}
        </CardContent>
      </Card>
    ))}
  </section>
</Layout>
