---
import { Button, Card, Link } from '@components/ui';
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
---

<Layout
  class="from-primary/10 via-background to-secondary/10 items-center justify-center bg-linear-to-br p-4"
  withContainer={false}
  showFooter={false}
  showHeader={false}
  title="Kodal - Login"
>
  <Card class="max-w-md">
    <header class="flex flex-col text-center">
      <span class="bg-primary text-on-primary mx-auto mb-4 w-fit rounded-full p-4">
        <Icon name="lucide:shield" class="size-8" />
      </span>

      <h2 class="text-lg font-semibold">Panel de Administración</h2>
      <h3 class="text-on-muted text-sm">Acceso exclusivo para administradores autorizados</h3>
    </header>

    <form action="/api/auth/signin" method="POST" class="space-y-6">
      <input type="hidden" name="provider" value="github" />
      <input type="hidden" name="redirectTo" value={Astro.url.searchParams.get('redirectTo')} />

      <Button variant="outline" size="lg" type="submit" class="w-full">
        <Icon name="devicon:github" />
        <span class="text-base font-medium">Continuar con GitHub</span>
      </Button>

      <div
        class="before:border-on-muted relative flex justify-center text-xs uppercase before:absolute before:top-1/2 before:w-full before:border-t"
      >
        <span class="text-on-muted bg-card z-0 px-2">Acceso restringido</span>
      </div>

      <div class="bg-muted/50 space-y-2 rounded-lg p-4">
        <p class="text-on-muted text-center text-sm">
          Solo los administradores autorizados pueden acceder a este panel. El acceso se verifica
          mediante tu cuenta de GitHub corporativa.
        </p>
      </div>

      <div class="text-center">
        <Link href="/">Volver al inicio</Link>
      </div>
    </form>
  </Card>
</Layout>
