---
import { Card } from '@components/ui';
import { TERMS_OF_SERVICE } from '@constants';
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
export const prerender = true;
---

<Layout class="max-w-4xl">
  <div class="mb-8 text-center">
    <Icon name="lucide:file-text" class="text-primary mx-auto mb-4 size-16" />
    <h1 class="text-on-background mb-2 text-3xl font-bold">Términos de Servicio</h1>
    <p class="text-on-muted">Última actualización: Febrero 2026</p>
  </div>

  <article class="space-y-6">
    {
      TERMS_OF_SERVICE.map(({ title, content, items }, index) => (
        <Card>
          <header class="flex items-center">
            <h2>
              {index + 1}. {title}
            </h2>
          </header>

          <article class="space-y-4">
            <p class="text-on-muted" set:html={content} />
            {items && (
              <ul class="text-on-muted ml-4 list-inside list-disc space-y-2">
                {items.map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            )}
          </article>
        </Card>
      ))
    }
  </article>
</Layout>
