---
import { Avatar, AvatarFallback } from "@/components/starwind/avatar";
---

<Avatar>
  <AvatarFallback>MV</AvatarFallback>
</Avatar>

<div class="text-sm text-left flex-1 grid leading-tight">
  <span class="truncate font-semibold">Mauro Viveros</span>
  <span class="truncate text-xs text-sidebar-foreground/70">
    maurod.viveros@gmail.com
  </span>
</div>
