---
import { SidebarGroup, SidebarGroupContent, SidebarMenuButton, SidebarMenuItem } from "@/components/starwind/sidebar";
import { Icon } from "astro-icon/components";
---

<SidebarGroup>
  <SidebarGroupContent>
    <SidebarMenuItem>
      <SidebarMenuButton>
        <Icon name="lucide:layout-dashboard" />
        <span>overview</span>
      </SidebarMenuButton>
    </SidebarMenuItem>
  </SidebarGroupContent>
</SidebarGroup>
