<figure class="flex relative shrink-0 size-32 mx-auto mb-6 ring-4 rounded-full ring-primary/20 overflow-hidden">
  <!-- <img src="/samira.jpg" alt="Foto de Samira" class="size-full aspect-square"/> -->
  <span class="flex items-center justify-center size-full text-4xl font-bold text-on-primary bg-primary">S</span>
</figure>
