---
import { Icon } from 'astro-icon/components';
---

<a href="/" class="flex cursor-pointer items-center gap-2 select-none">
  <span class="bg-primary text-on-primary flex size-8 items-center justify-center rounded-full">
    <Icon name="lucide:heart" size="1rem" />
  </span>
  <h2 class="text-xl font-bold">Kodal</h2>
</a>
