---
import { Icon } from 'astro-icon/components';
---

<a href="/" class="flex cursor-pointer items-center gap-2 no-underline select-none">
  <Icon name="logos/isotipo" class="h-16 py-2" width={'4rem'} />

  <div>
    <h2 class="text-3xl font-bold">Kodal</h2>
    <p class="text-md text-primary leading-1 font-semibold">Siempre vuelven a casa</p>
  </div>
</a>
