---
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'section'> {};
const { class: className, ...props } = Astro.props;
---
<div class="border rounded-xl shadow-lg bg-card text-on-card">
  {
    Astro.slots.header && (
      <header class="p-8 text-center bg-gradient-to-br from-primary/10 to-secondary/10">
        <slot name="header"/>
      </header>
    )
  }

  <section class={`flex flex-col p-6 gap-6 ${className}`} {...props}>
    <slot/>
  </section>
</div>
