---
import { Button, Card } from '@components/ui';
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {}
const { class: className, ...props } = Astro.props;
---

<Card class:list={['text-center', className]} {...props}>
  <article>
    <h3 class="mb-3 text-xl font-bold">¿Te gusta esta medalla inteligente?</h3>
    <p class="text-on-muted mb-6 text-pretty">
      Protege a tu mascota con nuestra tecnología de identificación digital. Fácil de usar, siempre actualizada y disponible 24/7.
    </p>

    <Button disabled>
      Consigue tu Medalla
      <Icon name="lucide:shopping-cart" />
    </Button>
  </article>
</Card>
