---
import { Link } from '@components/ui';
import { Icon } from 'astro-icon/components';
---

<Link href="/" class="flex items-center no-underline! select-none">
  <Icon name="logos/isotipo" class="h-16 w-12 py-2 md:w-16" />

  <div>
    <h2 class="text-3xl leading-6 font-bold md:text-3xl">Kodal</h2>
    <p class="text-primary text-xs leading-3 font-semibold md:text-sm">Siempre vuelven a casa</p>
  </div>
</Link>
