---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {}
const { class: className, ...props } = Astro.props;
const classes = [
  'bg-card text-on-card shadow-lg border rounded-xl flex flex-col gap-2 py-6',
  '[&>article]:p-6',
  '[&_h1]:text-3xl [&_h1]:font-bold',
  '[&_h1,&_h2,&_h3]:text-balance [&>h2]:text-on-background [&>h3]:text-on-muted',
  '[&>header,&>h1,&>h2,&>h3]:px-6',
  className,
];
---

<!-- text-xl font-bold text-foreground mb-4 flex items-center gap-2 -->
<section class:list={classes} {...props} class="[&_h2_&_h3]:bg-red-500">
  <slot />
</section>

<!-- .card {
    @apply bg-card text-on-card flex flex-col gap-6 rounded-xl border py-6 shadow-lg;
    & .card-content {
      @apply space-y-2 px-6;
    }
    & .card-header {
      @apply @container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start;
      @apply gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6;
      & .card-title {
        @apply leading-none font-semibold;
      }
      & .card-description {
        @apply text-on-muted text-sm;
      }
    }
  } -->
