---
import type { HTMLAttributes } from "astro/types";
import Footer from "./sections/Footer.astro";
import Header from "./sections/Header.astro";
import Body from "./Body.astro";

interface Props extends HTMLAttributes<'main'> {
  title?: string;
  description?: string;
  container?: boolean;
}
const { container, title, description, class: className, ...props } = Astro.props;
---
<Body title={title} description={description}>
  <Header>
    <slot name="actions" slot="actions" />
  </Header>

  <main
    class:list={[
      "grow",
      container && "container mx-auto px-4 mt-16 py-8",
      className
    ]}
    {...props}
  >
    <slot />
  </main>

  <Footer/>
</Body>
