---
import '@styles/global.css';
import type { HTMLAttributes } from 'astro/types';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';

interface Props extends HTMLAttributes<'main'> {
  container?: boolean;
}
const { container, class: className, ...props } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <title>Kodal</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />

    <main
      class:list={[
        'mt-16 flex grow flex-col',
        { 'container mx-auto gap-8 px-4 py-8': container },
        className,
      ]}
      {...props}
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
