---
import styles from '@styles/global.css?url';
import { Footer, Header } from '@components/ui';

interface Props {
  container?: boolean;
}
const { container } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <title>Kodal</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href={styles} as="style" />
    <link rel="stylesheet" href={styles} />
  </head>
  <body>
    <slot name="header">
      <Header />
    </slot>

    <main
      class:list={{
        'mt-16 flex grow flex-col': true,
        'container mx-auto max-w-2xl gap-8 px-4 py-8': container,
      }}
    >
      <slot />
    </main>

    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
