---
import "@/styles/starwind.css";
import type { HTMLAttributes } from "astro/types";
import Footer from "./sections/Footer.astro";
import Header from "./sections/Header.astro";

interface Props extends HTMLAttributes<'main'> {}
const { class: className, ...props } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-dvh">
    <Header />

    <main class:list={["grow", className]} {...props}>
      <slot />
    </main>

    <Footer />
  </body>
</html>
