---
import styles from '@styles/global.css?url';
import { Footer, Header } from '@components';
---

<!doctype html>
<html lang="es">
  <head>
    <title>Kodal</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href={styles} as="style" />
    <link rel="stylesheet" href={styles} />
  </head>
  <body>
    <Header />

    <main class="container mx-auto mt-16 max-w-2xl grow px-4 py-8">
      <slot />
    </main>

    <Footer />
  </body>
</html>
