---
import { Brand, SEO } from "@components";
---

<!doctype html>
<html lang="es">
  <head>
    <SEO/>
  </head>
  <body>
    <header class="fixed border-b top-0 z-50 w-full backdrop-blur-sm bg-card/50">
      <div class="container mx-auto p-4 flex items-center justify-between">
        <Brand/>
        <slot name="actions"/>
      </div>
    </header>

    <slot/>

    <footer class="flex flex-col justify-center grow border-t bg-muted/30">
      <div class="container mx-auto px-4 py-6 text-center">
        <article class="flex items-center justify-center gap-6 text-sm text-on-muted [&>a]:flex-1 md:[&>a]:flex-none [&>a:hover]:underline [&>a:hover]:text-on-background">
          <a>Política de Privacidad</a>
          <a>Términos de Servicio</a>
          <a>Soporte</a>
        </article>

        <p class="text-xs text-on-muted mt-4">© 2025 Koda. Manteniendo a las mascotas seguras y conectadas.</p>
      </div>
    </footer>
  </body>
</html>
