---
import '@styles';
import type { HTMLAttributes } from 'astro/types';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import favicon from '../icons/logos/isotipo.svg?url';

interface Props extends HTMLAttributes<'main'> {
  withContainer?: boolean;
  showHeader?: boolean;
  showFooter?: boolean;
  title?: string;
}
const {
  class: className,
  withContainer = true,
  showHeader = true,
  showFooter = true,
  title = 'Kodal',
  ...props
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="theme-color" content="#FEFBF4" />
  </head>
  <body class="bg-background text-on-background **:border-border flex min-h-dvh flex-col">
    {
      showHeader && (
        <Header>
          <slot name="actions" slot="actions" />
        </Header>
      )
    }

    <main
      class:list={[
        'flex grow flex-col gap-8',
        { 'container mx-auto px-4 py-8': withContainer },
        { 'mt-16': showHeader },
        className,
      ]}
      {...props}
    >
      <slot />
    </main>

    {showFooter && <Footer />}
  </body>
</html>
