---
import { Button, Card, Icon } from "@components";
import Layout from "@layout";
export const prerender = true;
---

<Layout class="container mx-auto mt-16 py-8 px-4 flex items-center justify-center">
  <Card class="max-w-md p-8 text-center">
    <header>
      <span class="bg-primary/10 mx-auto mb-4 flex size-24 items-center justify-center rounded-full">
        <Icon name="lucide:alert-triangle" class="text-primary size-12" />
      </span>
      <h1 class="text-primary mb-2 text-6xl! font-bold">404</h1>
      <h2 class="text-muted-foreground mb-4 text-2xl font-semibold">¡Ups! Página no encontrada</h2>
      <p class="text-muted-foreground text-pretty">
        Parece que esta página se perdió como una mascota sin collar. No te preocupes, te ayudamos a encontrar el camino de vuelta.
      </p>
    </header>

    <article>
      <Button href="/" class="w-full">
        <Icon name="lucide:home" class="size-4" />
        Volver al Inicio
      </Button>
    </article>

    <footer class="border-t border-border p-6">
      <p class="text-muted-foreground text-sm text-pretty">Si crees que esto es un error, por favor contacta al soporte.</p>
    </footer>
  </Card>
</Layout>


<!-- <Layout title="Kodal - 404" class="items-center justify-center">
  <Card class="max-w-md p-8 text-center">
    <header>
      <span class="bg-primary/10 mx-auto mb-4 flex size-24 items-center justify-center rounded-full">
        <Icon name="lucide:alert-triangle" class="text-primary size-12" />
      </span>
      <h1 class="text-primary mb-2 text-6xl! font-bold">404</h1>
      <h2 class="text-on-muted mb-4 text-2xl font-semibold">¡Ups! Página no encontrada</h2>
      <p class="text-on-muted">
        Parece que esta página se perdió como una mascota sin collar. No te preocupes, te ayudamos a encontrar el camino de vuelta.
      </p>
    </header>

    <article>
      <Button href="/" class="w-full">
        <Icon name="lucide:home" class="size-4" />
        Volver al Inicio
      </Button>
    </article>

    <footer class="border-t p-6">
      <p class="text-on-muted text-sm text-balance">Si crees que esto es un error, por favor contacta al soporte.</p>
    </footer>
  </Card>
</Layout> -->
