---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'fieldset'> {
  description?: string;
  required?: boolean;
  label?: string;
  input?: string;
}

const { label, description, required, class: className, input, ...props } = Astro.props;
---

<fieldset class:list={['flex flex-col', className]} {...props}>
  {
    label && (
      <label for={input} class="mb-2 text-sm">
        {label}
        {required && <span class="text-primary">*</span>}
      </label>
    )
  }

  <slot />

  {description && <p class="text-on-muted mt-1 text-xs">{description}</p>}
</fieldset>
