---
import type { HTMLAttributes } from 'astro/types';

type Variant = 'primary' | 'underline';

type Props = HTMLAttributes<'a'> & {
  href: string | URL;
  disabled?: boolean;
  variant?: Variant;
};

const { href, target, rel, variant = 'primary', class: className, disabled = false, ...props } = Astro.props as Props;

const VARIANT_CLASSES: Record<Variant, string> = {
  primary: 'hover:text-primary/80 hover:underline',
  underline: 'underline hover:text-primary/80',
};

const classes = [
  'space-x-1 space-y-1 transition-colors',
  'aria-disabled:pointer-events-none aria-disabled:opacity-50',
  VARIANT_CLASSES[variant],
  className,
];
---

<a
  href={href}
  target={target}
  rel={target === '_blank' && rel ? 'noopener noreferrer' : rel}
  aria-disabled={disabled}
  class:list={classes}
  {...props}
>
  <slot />
</a>
