---
import { Input, Select } from '@components/ui';
import { toInputDateValue } from '@utils';
import type { Database } from '@lib/database';

interface Props {
  pet?: Database['public']['Tables']['pets']['Row'];
}

const ESPECIES = [
  { value: 'DOG', label: 'Perro' },
  { value: 'CAT', label: 'Gato' },
  { value: 'OTHER', label: 'Otro' },
];

const GENDERS = [
  { value: 'MALE', label: 'Macho' },
  { value: 'FEMALE', label: 'Hembra' },
  { value: 'UNKNOWN', label: 'No especificado' },
];

const { pet } = Astro.props;
---

<article class="card">
  <header class="card-header">
    <h4 class="card-title">Información Básica</h4>
  </header>

  <div class:list={['card-content', 'grid grid-cols-1 space-x-2 md:grid-cols-2']}>
    <Input
      class:list={'md:col-span-2'}
      type="text"
      name="name"
      id="pet-name-input"
      label="Nombre"
      value={pet?.name}
      maxlength="25"
      required
    />

    <Select
      name="species"
      id="pet-species-select"
      label="Animal"
      value={pet?.species ?? 'OTHER'}
      items={ESPECIES}
      required
    />

    <Input
      type="text"
      name="breed"
      id="pet-breed-input"
      label="Raza"
      value={pet?.breed}
      maxlength="25"
    />

    <Select
      name="gender"
      id="pet-gender-select"
      label="Género"
      value={pet?.gender ?? 'UNKNOWN'}
      items={GENDERS}
      required
    />

    <Input
      type="date"
      name="birth_date"
      id="pet-birth-date-input"
      label="Fecha de nacimiento"
      value={pet?.birth_date && toInputDateValue(pet.birth_date)}
      min="1900-01-01"
      max={toInputDateValue(new Date())}
    />
  </div>
</article>
