---
import { Card } from '@components/ui';
import type { Pet } from '@types';

interface Props {
  pet: Pet;
}

const { pet } = Astro.props;
---

<Card>
  <h4 class="text-lg font-bold">Mensaje de Emergencia</h4>

  <fieldset class="flex flex-col">
    <label for="message" class="mb-2">Mensaje para quien encuentre a tu mascota</label>
    <textarea name="message" id="message" maxlength="250" required>{pet.message}</textarea>
    <p class="text-on-muted text-xs">Este mensaje aparecerá en el perfil público de tu mascota</p>
  </fieldset>
</Card>
