---
import { Card, Input, Select } from '@components/ui';
import { toInputDateValue } from '@utils';
import { Icon } from 'astro-icon/components';
import type { Tables } from '@types';

interface Props {
  pet?: Tables<'pets'> | null;
}

const ESPECIES = [
  { value: 'DOG', label: 'Perro' },
  { value: 'CAT', label: 'Gato' },
  { value: 'OTHER', label: 'Otro' },
];

const GENDERS = [
  { value: 'MALE', label: 'Macho' },
  { value: 'FEMALE', label: 'Hembra' },
  { value: 'UNKNOWN', label: 'No especificado' },
];

const { pet } = Astro.props;
---

<input type="hidden" name="id" value={pet ? pet.id : crypto.randomUUID()} />

<Card>
  <h2 class="font-semibold">
    <Icon name="lucide:info" class="mr-2 inline-block" />
    Información Básica
  </h2>

  <article class="grid grid-cols-1 space-y-2 space-x-2 md:grid-cols-2">
    <Input
      class:list={'md:col-span-2'}
      type="text"
      name="name"
      id="pet-name-input"
      label="Nombre"
      placeholder="Ej: Luna"
      description="Nombre visible en el perfil de la mascota."
      value={pet?.name}
      maxlength="25"
      required
    />

    <Select
      name="species"
      id="pet-species-select"
      label="Animal"
      description="Selecciona la especie para personalizar el perfil."
      value={pet?.species ?? 'OTHER'}
      items={ESPECIES}
      required
    />

    <Input
      type="text"
      name="breed"
      id="pet-breed-input"
      label="Raza"
      placeholder="Ej: Labrador"
      description="Opcional. Ayuda a identificarla mejor."
      value={pet?.breed}
      maxlength="25"
    />

    <Select
      name="gender"
      id="pet-gender-select"
      label="Género"
      description="Indica el género de la mascota."
      value={pet?.gender ?? 'UNKNOWN'}
      items={GENDERS}
      required
    />

    <Input
      type="date"
      name="birth_date"
      id="pet-birth-date-input"
      label="Fecha de nacimiento"
      description="Si no la conoces, deja el campo vacío."
      value={pet?.birth_date && toInputDateValue(pet.birth_date)}
    />
  </article>
</Card>
