---
import { Avatar } from '@components/common';
import { Card, Input } from '@components/ui';
import type { Tables } from '@types';
import { Icon } from 'astro-icon/components';

interface Props {
  pet?: Tables<'pets'>;
}
const { pet } = Astro.props;
---

<Card>
  <h2 class="font-semibold">
    <Icon name="lucide:upload" class="mr-2 inline-block" />
    Foto de Perfil
  </h2>

  <article class="grid grid-cols-1 items-center justify-items-center gap-x-4 md:grid-cols-[auto_1fr] md:justify-items-normal">
    <Avatar id="pet-avatar" pet={pet} />

    <Input
      type="file"
      name="avatar_file"
      id="pet-avatar-file-input"
      label="Foto de perfil"
      placeholder="Selecciona una imagen"
      description="Sube una foto para el perfil de la mascota."
      accept="image/jpg, image/jpeg, image/png"
    />
  </article>
</Card>

<script>
  const input = document.getElementById('pet-avatar-file-input') as HTMLInputElement;
  const avatar = document.getElementById('pet-avatar') as HTMLDivElement;
  const avatarImg = avatar.querySelector('img') as HTMLImageElement;

  input?.addEventListener('change', (event) => {
    const file = (event.target as HTMLInputElement).files?.[0] as File;
    avatarImg.src = file ? URL.createObjectURL(file) : '';
    avatar.setAttribute('data-has-image', file ? 'true' : 'false');
  });
</script>
