---
import { Input, Select } from '@components/ui';
import { Card } from '@components/ui/card';
import { MEDAL_RELATIONS } from '@constants';
import type { Database } from '@lib/database';

interface Props {
  medal: Database['public']['Tables']['medals']['Row'];
}

const { medal } = Astro.props;
---

<Card>
  <h2 class="leading-none font-semibold">Información de contacto</h2>
  <input type="hidden" name="medal_id" value={medal.id} />

  <article class="grid space-y-2">
    <Select
      name="medal_relation_type"
      id="medal-relation_type-select"
      value={medal.relation_type ?? 'OTHER'}
      label="Relación con la mascota"
      description="Selecciona tu vínculo con la mascota para mostrarlo en el perfil."
      items={Object.entries(MEDAL_RELATIONS).map(([value, label]) => ({ value, label }))}
      required
    />

    <Input
      type="text"
      name="medal_full_name"
      id="medal-full_name-input"
      value={medal.full_name}
      label="Nombre completo"
      placeholder="Ej: Ana Pérez"
      description="Este nombre se mostrará en el perfil de la mascota."
      maxlength="50"
      required
    />

    <Input
      type="email"
      name="medal_email"
      id="medal-email-input"
      value={medal.email}
      label="Correo electrónico"
      placeholder="tu@email.com"
      description="Usaremos este email para verificar tu identidad."
      maxlength="100"
      required
    />

    <Input
      type="text"
      name="medal_phone"
      id="medal-phone-input"
      value={medal.phone}
      label="Teléfono"
      placeholder="+54 9 11 1234-5678"
      description="Incluye el código de país y área para asegurar que podamos contactarte."
      minlength="7"
      maxlength="20"
    />
  </article>
</Card>
